In [1]:
import pandas as pd
import numpy as np

In [83]:
df = pd.ExcelFile('price-info.xlsm')
df1 = pd.read_excel(df, 'Calculo')

In [84]:
df1.columns = ["Id","Jan20","Dez19","Nov19","Out19","Set19","Ago19"]
df1.set_index("Id", inplace=True)

In [86]:
df1.shape

(499, 6)

In [87]:
df1.describe()

,Jan20,Dez19,Nov19,Out19,Set19,Ago19
count,398.000000,432.000000,317.000000,186.000000,248.000000,236.000000
mean,10619.417085,7378.687500,4966.309148,6628.822581,2736.544355,3408.474576
std,12987.857117,11007.204649,10216.372417,13642.069098,5043.182361,6732.874587
min,80.000000,100.000000,75.000000,41.000000,0.000000,0.000000
25%,3870.750000,2260.250000,1074.000000,1192.500000,600.000000,684.000000
50%,7540.500000,4660.500000,2446.000000,2759.500000,1453.500000,1713.000000
75%,12693.500000,8362.500000,5720.000000,6327.500000,3000.000000,3700.000000
max,155000.000000,155000.000000,145000.000000,150000.000000,55000.000000,85000.000000

In [88]:
df1.isna().sum()

Jan20    101
Dez19     67
Nov19    182
Out19    313
Set19    251
Ago19    263
dtype: int64

In [90]:
df1.fillna(0, inplace = True)

In [91]:
df1["Faturamento"] = df1.sum(axis=1)
df1["Media_Faturamen"] = df1["Faturamento"]/6

In [92]:
df1.Faturamento.max()

745000.0

In [93]:
print(df1['Faturamento'].idxmax())
print(df1['Faturamento'].idxmin())

83547
96939

In [94]:
print (df1.loc[df1.Faturamento.idxmin()])

Jan20              0.0
Dez19              0.0
Nov19              0.0
Out19              0.0
Set19              0.0
Ago19              0.0
Faturamento        0.0
Media_Faturamen    0.0
Name: 96939, dtype: float64

In [95]:
df1[df1.index == 83547]

,Jan20,Dez19,Nov19,Out19,Set19,Ago19,Faturamento,Media_Faturamen
Id,,,,,,,,
83547,155000.0,155000.0,145000.0,150000.0,55000.0,85000.0,745000.0,124166.666667

In [96]:
print(df1.Faturamento.mean())

23455.841683366732

In [97]:
df1.mean()

Jan20               8469.995992
Dez19               6387.961924
Nov19               3154.949900
Out19               2470.863727
Set19               1360.046092
Ago19               1612.024048
Faturamento        23455.841683
Media_Faturamen     3909.306947
dtype: float64

In [101]:
df1.head(60)

,Jan20,Dez19,Nov19,Out19,Set19,Ago19,Faturamento,Media_Faturamen
Id,,,,,,,,
20927,3861.0,7644.0,5184.0,8373.0,9723.0,4974.0,39759.0,6626.500000
26364,0.0,1010.0,0.0,84.0,0.0,84.0,1178.0,196.333333
37265,3720.0,2692.0,1386.0,0.0,297.0,900.0,8995.0,1499.166667
82094,1935.0,1125.0,0.0,0.0,0.0,0.0,3060.0,510.000000
83547,155000.0,155000.0,145000.0,150000.0,55000.0,85000.0,745000.0,124166.666667
96939,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
98997,1550.0,5270.0,5750.0,7500.0,3750.0,3000.0,26820.0,4470.000000
107706,13850.0,12372.0,3480.0,0.0,0.0,0.0,29702.0,4950.333333
108658,1200.0,6600.0,600.0,0.0,0.0,0.0,8400.0,1400.000000
121657,17500.0,9700.0,3500.0,1600.0,1200.0,2800.0,36300.0,6050.000000
122414,9890.0,5300.0,968.0,0.0,0.0,0.0,16158.0,2693.000000
122504,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
125064,5060.0,3670.0,3600.0,4500.0,300.0,0.0,17130.0,2855.000000
130736,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
136432,14350.0,15550.0,7800.0,9000.0,3000.0,2700.0,52400.0,8733.333333
143522,900.0,0.0,881.0,520.0,1027.0,1989.0,5317.0,886.166667
159402,2070.0,1560.0,630.0,0.0,522.0,609.0,5391.0,898.500000
160898,4370.0,2710.0,2070.0,0.0,240.0,960.0,10350.0,1725.000000
172391,1000.0,0.0,370.0,0.0,260.0,0.0,1630.0,271.666667
173810,30949.0,24158.0,0.0,0.0,0.0,0.0,55107.0,9184.500000
183433,7250.0,4500.0,2750.0,0.0,1000.0,3500.0,19000.0,3166.666667
210334,400.0,2000.0,980.0,0.0,0.0,400.0,3780.0,630.000000
214889,8180.0,4320.0,0.0,2310.0,660.0,0.0,15470.0,2578.333333
219669,8060.0,5980.0,5720.0,0.0,780.0,3380.0,23920.0,3986.666667
232516,10662.0,4390.0,600.0,0.0,870.0,3290.0,19812.0,3302.000000
241856,5066.0,2690.0,0.0,0.0,0.0,0.0,7756.0,1292.666667
246909,5651.0,4539.0,643.0,0.0,633.0,2756.0,14222.0,2370.333333
247704,438.0,1700.0,0.0,0.0,100.0,600.0,2838.0,473.000000
251307,17640.0,7100.0,3900.0,1250.0,500.0,580.0,30970.0,5161.666667
254529,1750.0,7000.0,0.0,0.0,0.0,0.0,8750.0,1458.333333
271040,2000.0,7300.0,0.0,0.0,4580.0,4320.0,18200.0,3033.333333
279586,10150.0,6489.0,6500.0,7500.0,2250.0,1250.0,34139.0,5689.833333
280647,2560.0,3453.0,1150.0,0.0,0.0,750.0,7913.0,1318.833333
284743,17013.0,9433.0,4214.0,0.0,2068.0,7266.0,39994.0,6665.666667
291437,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
310211,2256.0,2004.0,1492.0,0.0,315.0,1575.0,7642.0,1273.666667
317816,2300.0,4650.0,1770.0,0.0,0.0,0.0,8720.0,1453.333333
317817,3950.0,3210.0,150.0,0.0,51.0,0.0,7361.0,1226.833333
320985,9000.0,8400.0,4300.0,0.0,0.0,0.0,21700.0,3616.666667
333619,4550.0,2262.0,1775.0,1620.0,1379.0,796.0,12382.0,2063.666667
344879,11291.0,5902.0,2094.0,0.0,1740.0,995.0,22022.0,3670.333333
346042,6591.0,4499.0,0.0,0.0,0.0,0.0,11090.0,1848.333333
346066,10263.0,4868.0,249.0,0.0,0.0,0.0,15380.0,2563.333333
355087,4324.0,2674.0,936.0,0.0,600.0,1060.0,9594.0,1599.000000
356594,13060.0,9380.0,4700.0,4500.0,600.0,150.0,32390.0,5398.333333
374728,3250.0,3300.0,0.0,0.0,2000.0,0.0,8550.0,1425.000000
377277,8960.0,4600.0,800.0,0.0,240.0,980.0,15580.0,2596.666667
381175,19100.0,16000.0,30000.0,31000.0,13600.0,1600.0,111300.0,18550.000000
382920,40700.0,42200.0,28000.0,29700.0,7500.0,1200.0,149300.0,24883.333333
382936,25000.0,24100.0,12400.0,5200.0,3600.0,800.0,71100.0,11850.000000
405208,2151.0,0.0,0.0,0.0,0.0,0.0,2151.0,358.500000
407005,8551.0,2966.0,1744.0,1302.0,1260.0,1092.0,16915.0,2819.166667
407012,0.0,1485.0,2970.0,1485.0,2376.0,1539.0,9855.0,1642.500000
417356,0.0,1560.0,240.0,0.0,600.0,0.0,2400.0,400.000000
459886,10100.0,8250.0,15130.0,13850.0,7920.0,3440.0,58690.0,9781.666667
459941,22830.0,7310.0,1620.0,15030.0,1000.0,0.0,47790.0,7965.000000
482455,9000.0,7320.0,5550.0,8418.0,6312.0,2862.0,39462.0,6577.000000
483460,48510.0,30780.0,0.0,0.0,0.0,0.0,79290.0,13215.000000
501380,19250.0,20650.0,4700.0,11750.0,0.0,0.0,56350.0,9391.666667
502266,3200.0,3200.0,5400.0,6000.0,3200.0,2600.0,23600.0,3933.333333